.box{
	-fx-border-color:#cccccc;
	-fx-border-width:1;
}
.clickable:hover{
	-fx-cursor:hand;
	opacity:0.7;
}

.pending{
	-fx-background-color:#808000;
}
.nonfree{
	-fx-background-color:#FF0000;
}
.free, .errorSquare{
	-fx-background-color:#00B000;
}